
.vs/**
**\x64\**
*.tlog
*.obj
*.log
*.pch
*.ipdb
*.iobj
*.recipe
*.pdb
*.idb
*.ilk
DJDeckUDP/x64/Release/DJDeckUDP.vcxproj.FileListAbsolute.txt
x64/Debug/DJDeckUDP.dll
x64/Debug/DJDeckUDP.exp
x64/Debug/DJDeckUDP.lib
x64/Debug/WebDJ.dll
x64/Debug/WebDJ.lib
x64/Release/DJDeckUDP.dll
x64/Release/DJDeckUDP.exp
x64/Release/DJDeckUDP.lib
x64/Release/WebDJ.dll
x64/Release/WebDJ.lib
